---
import Main from "../layouts/Main.astro";
---

<Main>
  <h1>Browse Rooms</h1>
  <p>Browse Rooms etc</p>
  <p>
    Browse Rooms awdaw dwa Lorem ipsum dolor sit, amet consectetur adipisicing
    elit. Veritatis deserunt optio enim excepturi praesentium quibusdam illo,
    architecto accusamus ex unde, amet distinctio pariatur. Enim nihil aliquam
    aperiam deleniti. Molestiae, suscipit.
  </p>
</Main>
