---
import Main from "../layouts/Main.astro"

const randomIndex = Math.ceil(Math.random() * 4999)
console.log("randomIndex", randomIndex)
const res = await fetch(
  `https://jsonplaceholder.typicode.com/photos/${randomIndex}`,
  { cache: "no-store" }
)
const resJson = await res.json()

---

<Main>
  <h1>Browse Rooms {resJson.id}</h1>
  <p>Browse Rooms etc</p>
  <p>
    Browse Rooms awdaw dwa Lorem ipsum dolor sit, amet consectetur adipisicing
    elit. Veritatis deserunt optio enim excepturi praesentium quibusdam illo,
    architecto accusamus ex unde, amet distinctio pariatur. Enim nihil aliquam
    aperiam deleniti. Molestiae, suscipit.
  </p>
</Main>
