---
import Main from "../layouts/Main.astro";
// const imgSrc = "https://upload.wikimedia.org/wikipedia/commons/0/01/Business_Centre_of_Moscow_2.jpg"
const imgSrc = "https://i.ibb.co/rystM2y/upload.webp";
---

<Main title="Main Page">
  <h1 class="text-2xl font-bold mt-10">Moscow</h1>
  <p>Russia's Capital</p>
  <div class="grid sm:grid-cols-2 lg:grid-cols-3 width-full gap-2">
    <img src={imgSrc} class="w-full rounded-lg" />
    <img src={imgSrc} class="w-full rounded-lg" />
    <img src={imgSrc} class="w-full rounded-lg" />
  </div>
</Main>
