---
import ThemeToggler from "./ThemeToggler.astro";

---

<nav class="flex justify-between">
  <ul class="list-none flex gap-2">
    <li>
      <a href="/" class="underline-none text-black"> Home</a>
    </li>
    <li>
      <a href="/browse" class="underline-none text-black"> Browse</a>
    </li>
    <li>
      <a href="/about" class="underline-none text-black"> About</a>
    </li>
  </ul>
  <ThemeToggler />
</nav>
